#root {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#root .container {
  width: 376px;
  height: 666px;
  z-index: 100;
  background: white;
  border-radius: 3px;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

#root .container-view {
  position: relative;
  overflow: hidden;
  padding: 20px;
  flex: 1 1 auto;
}
