header {
  margin: 0px 10px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

header .icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-icon,
.menu-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.search-icon:hover,
.menu-icon:hover {
  background-color: #e0e0e0;
}
